<!DOCTYPE html>
<html ng-app="application">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>application title</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}assets/css/style.min.css?v={{ VERSION }}">
    <script type="text/javascript">
        /**
         * @const
         * @type {string}
         * @export
         */
        PUSHER_KEY = '{{ config.PUSHER_KEY }}';

        /**
         * @const
         * @type { {username: string, first_name:string, last_name: string,
         *          full_name: string, is_superuser: boolean, is_staff: boolean} }
         * @export
         */
        CURRENT_USER = {
            'username': '{{ user.username }}',
            'first_name': '{% if user.first_name %}{{ user.first_name }}{% endif %}',
            'last_name': '{% if user.last_name %}{{ user.last_name }}{% endif %}',
            'full_name': '{% if user.last_name and user.first_name %}{{ user.last_name }} {{ user.first_name }}{% else %}{% if user.first_name %}{{ user.first_name }}{% else %}{{ user.username }}{% endif %}{% endif %}',
            'is_superuser': {% if user.is_superuser %}true{% else %}false{% endif %},
            'is_staff': {% if user.is_staff %}true{% else %}false{% endif %}
        };

        /**
         * Version (for static files)
         * @type {string}
         */
        VERSION = '{{ VERSION }}';
    </script>
</head>
<body ng-controller="application.MainCtrl as main">
<section id="loader">
    <div class="progress">
      <div class="progress-bar progress-bar-striped active" role="progressbar"
           aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
        <span class="sr-only"></span>
      </div>
    </div>
</section>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4">
            <div class="list-group">
                <a href="{[{'home' | routeSegmentUrl}]}" class="list-group-item"
                   ng-class="{active: $routeSegment.startsWith('home')}">
                    home
                </a>
                <a href="{[{'another' | routeSegmentUrl}]}" class="list-group-item"
                   ng-class="{active: $routeSegment.startsWith('another')}">
                    another
                </a>
                <a href="{[{'another.second_level' | routeSegmentUrl}]}" class="list-group-item"
                   ng-class="{active: $routeSegment.startsWith('another.second_level')}">
                    another/second_level
                </a>
                <a href="{% url 'logout' csrf_token %}" target="_self" class="list-group-item">
                    выход
                </a>
            </div>
        </div>
        <div class="col-md-8">
            <section app-view-segment="0" class="content container-fluid">
                загрузка...
            </section>
        </div>
    </div>
</div>
<script type="text/ng-template" id="modalAlert.html">
    <div class="modal-header">
        <h3 class="modal-title">{[{ alertTitle }]}</h3>
    </div>
    <div class="modal-body">
        <p>{[{ alertMessage }]}</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="alertClose()">OK</button>
    </div>
</script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/moment/moment-with-locales.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-animate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular-route.min.js"></script>
    <!--<script type="text/javascript" src="{{ STATIC_URL }}js/pusher/pusher.min.js"></script>-->
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular_modules/angular-route-segment.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular_ui/ui-bootstrap-tpls-0.11.0.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular_ui/ui-utils.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}assets/js/site.min.js?v={{ VERSION }}"></script>
</body>
</html>