<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/angular/angular.min.js"></script>
    <script>
        loginApplication = angular.module('loginApplication', [])
    </script>
</head>
<body ng-app="loginApplication">
<form method="POST" onsubmit="this.submit()">
    {% csrf_token %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-red">{{ error }}</div>
    {% endfor %}
    {% for field in form %}
        <label class="form-element form-group">
            {{ field.label }}
            {% for error in field.errors %}
                <span class="alert alert-red" style="border: none; padding: 0">({{ error|slice:":-1" }})</span>
            {% endfor %}
            <input class="form-control" name="{{ field.html_name }}" type="{{ field.field.widget.input_type }}"
                   placeholder="{{ field.label }}">
        </label>
    {% endfor %}
    <button class="btn btn-large btn-red btn-100" type="submit">Войти</button>
</form>
</body>
</html>